// FONTS

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../Fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../Fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../Fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

